[submodule "Tennis-Ball-Tracking-and-Region-Detection_oct_2024-1"]
	path = Tennis-Ball-Tracking-and-Region-Detection_oct_2024-1
	url = https://github.com/Springboard-Internship-2024/Tennis-Ball-Tracking-and-Region-Detection_oct_2024.git
