albumentations
comet_ml
coremltools
Flask
GitPython
ipython
matplotlib
mss
nncf
numpy
onnx
onnxruntime
onnxslim
opencv-python
opencv-python-headless
openvino
paddle
pafy
pandas
Pillow
psutil
pycocotools
PyYAML
requests
scipy
seaborn
setuptools
streamlit
tensorflow
tensorflowjs
tensorrt
tflite-runtime
tflite-support
torch
torchvision
tqdm
tritonclient
ultralytics
ultralytics_thop
x2paddle
