albumentations
comet_ml
coremltools
Flask
GitPython
ipython
matplotlib
mss
nncf
numpy
onnx
onnxruntime
onnxslim
openvino
paddle
pafy
pandas
Pillow
psutil
pycocotools
PyYAML
requests
scipy
seaborn
setuptools
streamlit
tensorflow
tensorflowjs
tensorrt
torch
torchvision
tqdm
tritonclient
ultralytics
ultralytics_thop
x2paddle
